<!DOCTYPE html>
<html lang="en" ng-app="Emergency-App">
<head>
    <meta charset="UTF-8">
    <title>eMerge</title>

    <link rel="icon" type="image/png" href="img/icon_bell.png"/>
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/angular-material.min.js"></script>

    <!-- Material Design libraries -->
    <script src="js/material.min.js"></script>
    <script src="js/material.js"></script>
    <!--Material Design styling -->
    <link href="css/material.css" rel="stylesheet">
    <link href="css/material.min.css.map" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">



    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>



    <link href="js/color/material.red-deep_orange.min.css" rel="stylesheet">




    <!-- My app's js -->
    <script src="js/app.js"></script>

</head>
<body class="mdl-app">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--primary"flex-lt-md="960px <= width < 1280px"
            flex-order-lt-lg="1280px <= width < 1920px" flex-order-lt-md="960px <= width < 1280px">
        <div class="mdl-layout__header-row ">

        </div>
        <div class="mdl-layout__header-row">
            <h1>eMerge <img src="img/icon_e.png" height="70px" width="70px"></h1>
        </div>
        <div class="mdl-layout__header-row"></div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <div class="mdl-tabs__tab-bar">
                <a href="#about-panel" class="mdl-tabs__tab is-active"><h5>Dashboard</h5></a>
                <a href="#members-panel" class="mdl-tabs__tab"><h5>HISTORY</h5></a>
                <a href="#albums-panel" class="mdl-tabs__tab"><h5>MORE</h5></a>
            </div>

            <div class="mdl-layout-spacer"></div>
            <div>

                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                    LOGOUT
                </button>
            <div class="mdl-layout__header-row">
                <h1>eMerge</h1>
            </div>
            <div class="mdl-layout__header-row"></div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <div class="mdl-tabs__tab-bar">
                    <a href="#about-panel" class="mdl-tabs__tab is-active">Dashboard</a>
                    <a href="#members-panel" class="mdl-tabs__tab">History</a>
                    <a href="#albums-panel" class="mdl-tabs__tab">Meh</a>
                </div>
                <div class="mdl-layout-spacer"></div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="float: right;">
                        LOGOUT
                    </button>
                </div>

            </div>
        </div>
    </header>
    <div id="wrap">


        <div class="mdl-tabs__panel is-active" id="about-panel" ng-controller="cardCtrl">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Emergency ID: Car Accident <i class="fa fa-car"></i></span><br><br>

                    </md-card-title-text>
                    <ul id="Card_Content">
                        <li>   <i class="fa fa-male"></i>Victim Name:Tuli</li>
                        <li>      <i class="fa fa-phone"></i>Number:0816166221</li>
                        <li><i class="fa fa-map-marker"></i>    Location:Unam Main <a href="https://www.google.com.na/maps/dir//University+of+Namibia,+Windhoek,+Namibia/@-22.6121641,17.0561839,17z/data=!4m12!1m3!3m2!1s0x1c0b1af6df2e6629:0x8b4b657accaf67dd!2sUniversity+of+Namibia!4m7!1m0!1m5!1m1!1s0x1c0b1af6df2e6629:0x8b4b657accaf67dd!2m2!1d17.0583726!2d-22.6121691?hl=en" target="_blank">Click To View</a></li>
                        <li><i class="fa fa-car"></i>     Association: MVA Fund</li>
                        <li>Assign To:  <select ng-model="selectedName" ng-options="x for x in names"></select></li>
                        <div id="button1">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                                SUBMIT
                            </button></div>


                    </ul>

                </md-card-title>
                <!--div ng-controller="listController">
                    <li>Assign To</li>
                    <select ng-model="selectedName" ng-options="x for x in names">
                    </select>
                </--div> (Figure Out)
                <div id="button1">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                    SUBMIT
                </button></div-->
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Emergency ID: Car Accident <i class="fa fa-car"></i></span><br><br>

                    </md-card-title-text>
                    <ul id="Card_Content">
                        <li><i class="fa fa-female"></i>     Victim Name:Sarah Kandjeke </li>
                        <li>      <i class="fa fa-phone"></i>Number:0814199220</li>
                        <li><i class="fa fa-map-marker"></i>    Location:C28 Erongo<a href="https://www.google.com.na/maps/dir/Swakopmund,+Erongo/C28/@-22.6667389,14.5731304,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x1c7658ef0b44d78f:0xde9e043bc3383c4c!2m2!1d14.6004911!2d-22.6467427!1m5!1m1!1s0x1c765f41a4495a89:0xb6a111ef258b2c08!2m2!1d14.5863709!2d-22.6868163!3e0?hl=en" target="_blank">Click To View</a></li>
                        <li><i class="fa fa-fire-extinguisher"></i>     Association: MVA</li>
                        <li>Assign To:  <select ng-model="selectedName" ng-options="x for x in names"></select></li>
                        <div id="button1">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                                SUBMIT
                            </button></div>
                    </ul>
                </md-card-title>
                <!--<div ng-controller="listController">
                    {{names}}
                    <select ng-model="selectedName" ng-options="x for x in names">
                    </select>
                </div> (Figure Out)>
                <div-- id="button1">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                        SUBMIT
                    </button></div-->
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Emergency ID: Fire <i class="fa fa-fire"></i>  </span><br><br>

                    </md-card-title-text>
                    <ul id="Card_Content">
                        <li><i class="fa fa-male"></i>     Victim Name: Kobus Albertus</li>
                        <li>      <i class="fa fa-phone"></i>Number:0816166221</li>
                        <li><i class="fa fa-map-marker"></i>    Location:Okahandja Secondary School<a href="https://www.google.com.na/maps/dir//Okahandja+Secondary+School,+Okahandja,+Otjozondjupa/@-21.9785049,16.8636374,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x1c0abd9075c4ef87:0x755c13499acea325!2m2!1d16.8986571!2d-21.9785882?hl=en" target="_blank">Click To View</a></li>
                        <li><i class="fa fa-fire"></i>     Association: Fire Brigade</li>
                        <li>Assign To:  <select ng-model="selectedName" ng-options="x for x in names"></select></li>
                        <div id="button1">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                                SUBMIT
                            </button></div>
                    </ul>
                </md-card-title>
                <!--<div ng-controller="listController">
                    {{names}}
                    <select ng-model="selectedName" ng-options="x for x in names">
                    </select>
                </div> (Figure Out)>
                <div-- id="button1">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                        SUBMIT
                    </button></div-->
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Emergency ID: Car Accident <i class="fa fa-car"></i>  </span><br><br>

                    </md-card-title-text>
                    <ul id="Card_Content">
                        <li><i class="fa fa-female"></i>     Victim Name: Lila Joseph</li>
                        <li>      <i class="fa fa-phone"></i>Number:0812917090</li>
                        <li><i class="fa fa-map-marker"></i>    Location:Tsumeb<a href="https://www.google.com.na/maps/dir/Grootfontein,+Otjozondjupa/Tsumeb,+Oshikoto/@-21.9785733,16.8286167,12z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x1bf17cdeeef43e27:0x672413f2b406fe86!2m2!1d18.1072924!2d-19.5728709!1m5!1m1!1s0x1bf2378fd848a76d:0x8a1c1886620b138b!2m2!1d17.728092!2d-19.2443226?hl=en" target="_blank">Click To View</a></li>
                        <li><i class="fa fa-car"></i>     Association: MVA</li>
                        <li>Assign To:  <select ng-model="selectedName" ng-options="x for x in names"></select></li>
                        <div id="button1">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                                SUBMIT
                            </button></div>
                    </ul>
                </md-card-title>
                <!--<div ng-controller="listController">
                    {{names}}
                    <select ng-model="selectedName" ng-options="x for x in names">
                    </select>
                </div> (Figure Out)>
                <div-- id="button1">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" >
                        SUBMIT
                    </button></div-->
            </md-card>


        </div>


        </header>


    </div>

</div>


</body>
</html>